/* roboto-regular - latin */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff");
  /* Modern Browsers */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff");
  /* Modern Browsers */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin-700.woff") format("woff");
  /* Modern Browsers */
}

html {
  font-family: "Roboto";
}

a {
  color: #000;
}

.section.skills .b-skills .skill__title {
  font-weight: 700;
  color: #828282;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.b-header {
  background-color: #fff;
  box-shadow: none;
}

.b-header.fixed {
  padding: 10px 0;
  background-color: #e5e5e5;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

.b-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  height: 88px;
  margin: 0;
  padding: 0;
}

.b-ul a {
  color: #828282;
  font-size: 24px;
  text-decoration: none;
}

.b-ul a:hover {
  color: #333;
}

.b-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-title .title__name {
  font-size: 48px;
  max-width: 123px;
}

.b-title .title__info {
  font-size: 24px;
  max-width: 216px;
}

.intro {
  height: 679px;
}

.intro .b-intro {
  margin-bottom: 103px;
  margin-top: 45px;
  background: url(../images/intro.png) center no-repeat;
  background-size: cover;
  min-height: 386px;
}

.b-about {
  max-width: 298px;
  margin: 0 auto;
  text-align: center;
}

.about__title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 28px;
}

.about__subtitle {
  font-size: 18px;
  margin-bottom: 75px;
}

.section.about {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 506px;
}

.section.about .b-about {
  max-width: 428px;
  margin: 0 auto;
  text-align: center;
}

.section.about .about__title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 28px;
}

.section.about .about__subtitle {
  font-size: 18px;
}

.section.skills {
  display: flex;
  align-items: center;
  height: 603px;
}

.section.skills .b-skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section.skills .b-skills .skills__item {
  width: 167px;
  height: 219px;
  text-align: center;
}

.section.skills .b-skills .skills__item .figma__img {
  padding-left: 20px;
}

.section.skills .b-skills .skill__img {
  width: 90px;
  height: 90px;
  padding-left: 40px;
}

.section.skills .b-skills .skill__title {
  padding-bottom: 42px;
  margin-top: 42px;
}

.section.portfolio {
  padding-top: 124px;
  background-color: #f6f6f6;
}

.section.portfolio .about__title {
  margin-bottom: 64px;
}

.section.portfolio .portfolio__item {
  margin-top: 100px;
}

.section.portfolio .portfolio__img {
  position: relative;
  padding-top: 56.25%;
}

.section.portfolio .portfolio__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.section.portfolio .portfolio__item:last-child {
  padding-bottom: 93px;
}

.section.portfolio .portfolio__href {
  text-align: center;
  margin-top: 42px;
  color: #000;
}

.section.reviews {
  padding: 117px 0;
}

.section.reviews .reviews__items {
  position: relative;
  padding: 40px 50px;
}

.section.reviews .reviews__items .swiper {
  position: initial;
}

.section.reviews .review__item .review__img {
  display: block;
  margin: 0 auto;
  z-index: 1;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  object-fit: cover;
}

.section.reviews .review__item .review__text {
  font-size: 24px;
  text-align: center;
  padding: 30px 20px;
}

.section.reviews .review__item .review__author {
  font-size: 24px;
}

.section.reviews .review__item .review__author::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  margin-right: 10px;
  background-color: #000;
  vertical-align: middle;
}

.section.reviews .review__item .swiper-button-next:after,
.section.reviews .review__item .swiper-rtl .swiper-button-prev:after {
  color: #333;
}

.section.reviews .review__item .swiper-button-prev:after,
.section.reviews .review__item .swiper-rtl .swiper-button-next:after {
  color: #333;
}

.section.reviews .swiper-button-next:after,
.section.reviews .swiper-rtl .swiper-button-prev:after {
  color: #333;
}

.section.reviews .swiper-button-prev:after,
.section.reviews .swiper-rtl .swiper-button-next:after {
  color: #333;
}

.section.contact {
  background-color: #f6f6f6;
}

.section.contact .about__title {
  padding-top: 24px;
}

.section.contact .btn {
  box-shadow: inset 0px 4px 4px rgba(159, 176, 184, 0.6);
  display: block;
  text-align: center;
  padding: 10px 30px;
  border-radius: 100px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 180px;
  margin: 0 auto;
}

.section.contact .btn:hover {
  background-color: #e5e5e5;
  color: #333;
}

.section.contact .b-hrefs {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  width: 242px;
  margin: 0 auto;
  padding-bottom: 43px;
}

.section.contact .info {
  text-align: center;
  color: #828282;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 770px) {
  .section.skills {
    margin: 100px 0;
  }
  .section.skills .b-skills {
    justify-content: center;
  }
  .section.skills .b-skills .skills__item {
    width: 257px;
    display: grid;
    justify-content: center;
    margin: 25px 15px;
  }
}
